<h1>Chat#index</h1>
<div id="chat_container">
  <div id="chat_body"></div>
  <div id="chat_form">
    <input type="text" id="chat_msg">
    <input type="button" id="send_message_button" name="send_message_button" value="Send msg">
  </div>
</div>
